<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johnney</title>
</head>
<body>
    <h1>JoooooooooooooooooooooooooooJo</h1>
    <p>Name: <%= jojo.name.toUpperCase() %> </p>
    <p>Power: <%= jojo.power%></p>
    <p>Speed: <%= jojo.speed %> </p>
    <p>Potential: <%= jojo.potential %> </p>
    <h1>Dio</h1>
    <p>Name: <%= dio.name %> </p>
    <p>Power: <%= dio.power%></p>
    <p>Speed: <%= dio.speed %> </p>
    <p>Potential: <%= dio.potential %> </p>
</body>
</html>